<!-- <h1>app component</h1> -->
<!-- <app-login></app-login>
<app-component></app-component>
<app-calculator></app-calculator>
<app-mouseevent></app-mouseevent>
<app-setgetvalue></app-setgetvalue> -->
<!-- <app-ifelseconditions></app-ifelseconditions> -->
 <!-- <app-forloopcode></app-forloopcode>
 <app-signalcode></app-signalcode> -->
 <!-- <app-effectcode></app-effectcode> -->
  <!-- <app-forloopcontextualvariables></app-forloopcontextualvariables> -->

  <!-- <app-ngmodelcode></app-ngmodelcode> -->

  <!-- <app-todolistcode></app-todolistcode> -->
   <!-- <app-dynamicstylecode></app-dynamicstylecode> -->
    <!-- <app-componetdirectivecode></app-componetdirectivecode> -->

    <!-- <app-ngforcomponet></app-ngforcomponet> -->

    <!-- <app-ngswitchcomponet></app-ngswitchcomponet> -->
<!-- <app-routeheadercomponet></app-routeheadercomponet> -->
 <!-- <app-dynamicroutingcomponet></app-dynamicroutingcomponet> -->
  <!-- <app-reactiveformcomponet></app-reactiveformcomponet> -->
   <!-- <app-templatedrivenformcomponet></app-templatedrivenformcomponet> -->
  
 <!-- <router-outlet></router-outlet> -->


 <!-- Static data send to child component from parent component using property binding
   -->
   <!-- <app-user-childcomponet user="Priya chaudhari"></app-user-childcomponet>
    <h1>parent</h1> -->
<!-- dynamic data send to child -->
    <!-- <app-user-childcomponet user="{{userName}}"></app-user-childcomponet> -->

    <!-- <app-pipe-codecomponet></app-pipe-codecomponet> -->
<!-- <app-custom-pipecomponet></app-custom-pipecomponet> -->
 <app-service-codecomponet></app-service-codecomponet>