<!-- <h1>app component</h1> -->
<!-- <app-login></app-login>
<app-component></app-component>
<app-calculator></app-calculator>
<app-mouseevent></app-mouseevent>
<app-setgetvalue></app-setgetvalue> -->
<!-- <app-ifelseconditions></app-ifelseconditions> -->
 <!-- <app-forloopcode></app-forloopcode>
 <app-signalcode></app-signalcode> -->
 <!-- <app-effectcode></app-effectcode> -->
  <!-- <app-forloopcontextualvariables></app-forloopcontextualvariables> -->

  <!-- <app-ngmodelcode></app-ngmodelcode> -->

  <!-- <app-todolistcode></app-todolistcode> -->
   <!-- <app-dynamicstylecode></app-dynamicstylecode> -->
    <!-- <app-componetdirectivecode></app-componetdirectivecode> -->

    <!-- <app-ngforcomponet></app-ngforcomponet> -->

    <app-ngswitchcomponet></app-ngswitchcomponet>