<p>mouseevent works!</p>

<div style="background-color: antiquewhite;">
    
<button class="btn bg-red" (click)="handleEvent($event)">click</button>

</div>

<div style="background-color: burlywood">
    
<button class="btn bg-black" (mouseenter)="handleEvent($event)">mouseenter</button>
<button class="btn bg-green"(mouseleave)="handleEvent($event)">decrement</button>
</div>

<div style="background-color: yellow">
    
<button class="btn bg-green"(mouseleave)="handleEvent($event)">mouseleave</button>
</div>


<br>
<br>
<br>
<input type="text"(input)="handleEventInput($event)
"
(foucus)="handleEventInput($event)"
(blur)="handleEventInput($event)"
 name="user">