<p>reactive-formcomponet works!</p>
<!-- <form action="" method="post">
    <input type="text" placeholder="Enter your name" [formControl]="name">
     <input type="text" placeholder="Enter your password" [formControl]="password">
    <button (click)="display()">Submit</button>

    <h1>{{name.value}}</h1>
    <h1>{{password.value}}</h1>
</form> -->

<!-- with form group code -->
 <form [formGroup]="loginform"  (ngSubmit)="displayFormGroup()">
    <input type="text" placeholder="Enter your name" formControlName="name">
    <span *ngIf="name?.hasError('required')">
      Name is required
    </span>
    <input type="text" placeholder="Enter your password" formControlName="password">
    <span *ngIf="password?.hasError('required')">
      Password is required and must be at least 5 characters long
    </span> 
    <button type="submit">Submit</button>
 </form>
